---
name: Build fedora-35

on:
  pull_request:
  push:
    paths:
      - 'fedora35/**'
      - '.github/workflows/fedora-35.yml'
  schedule:
    - cron: '0 10 * * 5'
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        required: false
        default: 'false'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  # Test the image builds and works correctly.
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Test building image.
        run: cd fedora35 && docker build -t docker-fedora35 .

      - name: Run the built image.
        run: docker run --name test-fedora35 -d --privileged -v /sys/fs/cgroup:/sys/fs/cgroup:ro docker-fedora35

      # - name: Verify Ansible is accessible in the built image.
        # run: docker exec --tty test-centos7 env TERM=xterm ansible --version

  # If on master branch, build and release image.
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image.
        uses: docker/build-push-action@v2
        with:
          context: fedora35/
          attests: type=sbom,generator=image
          provenance: mode=max
          sbom: true
          file: fedora35/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ github.repository }}:35
